.filmgoster {vertical-align: middle;}
.filmgoster i{color: #fff; font-size: 50px; vertical-align: middle;}
.yazi {font-size: 12px;}
#filmAdi{color: #ffab40; font-size: 18px;}
#filmAdi:hover{transition-duration:0.3s; color: #ffe0b2;}
